{:highlights [{:id #uuid "66fd256a-76b2-4981-bf63-b8772777a0b0",
               :page 12,
               :position {:bounding {:x1 336,
                                     :y1 96,
                                     :x2 602,
                                     :y2 294,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1727866215321},
               :properties {:color "blue"}}
              {:id #uuid "66fd2a0a-b7d0-4e93-aadf-483af3862972",
               :page 23,
               :position {:bounding {:x1 163,
                                     :y1 85.2001953125,
                                     :x2 460,
                                     :y2 279.2001953125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1727867397447},
               :properties {:color "blue"}}
              {:id #uuid "66fd2b53-85d9-41a0-94e1-a2e9df788529",
               :page 31,
               :position {:bounding {:x1 84,
                                     :y1 132.2001953125,
                                     :x2 286,
                                     :y2 246.2001953125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1727867730082},
               :properties {:color "blue"}}
              {:id #uuid "66fd2b6f-5e2c-4458-842f-3a8d0a77bf92",
               :page 31,
               :position {:bounding {:x1 372,
                                     :y1 115.2001953125,
                                     :x2 628,
                                     :y2 337.2001953125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1727867756722},
               :properties {:color "blue"}}
              {:id #uuid "66fd2efc-40c2-4e75-ac76-ca4c6ba2e89d",
               :page 36,
               :position {:bounding {:x1 367,
                                     :y1 122,
                                     :x2 627,
                                     :y2 285,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1727868666922},
               :properties {:color "blue"}}
              {:id #uuid "66fd304f-c4de-4ae1-8492-6ee964bc1564",
               :page 38,
               :position {:bounding {:x1 19,
                                     :y1 80.599609375,
                                     :x2 482,
                                     :y2 375.599609375,
                                     :width 767.9999999999999,
                                     :height 431.99999999999994},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1727869007670},
               :properties {:color "blue"}}
              {:id #uuid "66fd3069-88a7-412d-8e14-2d08d7d3faa6",
               :page 38,
               :position {:bounding {:x1 496.4000015258789,
                                     :y1 41.599609375,
                                     :x2 710.4000015258789,
                                     :y2 397.599609375,
                                     :width 767.9999999999999,
                                     :height 431.99999999999994},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1727869033039},
               :properties {:color "blue"}}
              {:id #uuid "66fd327a-deb5-44b6-a5f9-3b8e28a6d51b",
               :page 40,
               :position {:bounding {:x1 204.1999969482422,
                                     :y1 83.599609375,
                                     :x2 791.1999969482422,
                                     :y2 519.599609375,
                                     :width 1024,
                                     :height 576},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1727869558704},
               :properties {:color "blue"}}
              {:id #uuid "6703aba6-d92a-4a4f-8a06-37a00f69a48e",
               :page 44,
               :position {:bounding {:x1 328,
                                     :y1 99.599609375,
                                     :x2 645,
                                     :y2 362.599609375,
                                     :width 701,
                                     :height 394.3125},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1728293795772},
               :properties {:color "green"}}],
 :extra {:page 15}}
