{:highlights [{:id #uuid "67065ad6-d77b-42a0-a916-0c0af09f6af1",
               :page 1,
               :position {:bounding {:x1 278.39190673828125,
                                     :y1 268.9750061035156,
                                     :x2 469.17706298828125,
                                     :y2 285.7749938964844,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 278.39190673828125,
                                   :y1 268.9750061035156,
                                   :x2 469.17706298828125,
                                   :y2 285.7749938964844,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Vereine, Städte und Länder"},
               :properties {:color "red"}}
              {:id #uuid "67065ae0-d890-45af-a1d1-e3b1f6dfb57a",
               :page 1,
               :position {:bounding {:x1 89.92500305175781,
                                     :y1 268.9750061035156,
                                     :x2 665.9743041992188,
                                     :y2 304.6625061035156,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 596.8496704101562,
                                   :y1 268.9750061035156,
                                   :x2 665.9743041992188,
                                   :y2 285.7749938964844,
                                   :width 756,
                                   :height 1069.1586373714974}
                                  {:x1 89.92500305175781,
                                   :y1 287.8625183105469,
                                   :x2 422.53155517578125,
                                   :y2 304.6625061035156,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "einen eindeutigen Namen und eine Menge an Sponsoren"},
               :properties {:color "red"}}
              {:id #uuid "67065ae8-ac66-4f39-ae03-a0165f235a36",
               :page 1,
               :position {:bounding {:x1 89.92500305175781,
                                     :y1 287.8625183105469,
                                     :x2 665.7776489257812,
                                     :y2 323.5625,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 474.4393615722656,
                                   :y1 287.8625183105469,
                                   :x2 665.7776489257812,
                                   :y2 304.6625061035156,
                                   :width 756,
                                   :height 1069.1586373714974}
                                  {:x1 89.92500305175781,
                                   :y1 306.76251220703125,
                                   :x2 156.8663787841797,
                                   :y2 323.5625,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Verein ist genau einer Stadt zugehörig"},
               :properties {:color "red"}}
              {:id #uuid "67065af1-d376-4dae-a68e-0392f644358a",
               :page 1,
               :position {:bounding {:x1 220.4965057373047,
                                     :y1 306.76251220703125,
                                     :x2 513.0731201171875,
                                     :y2 323.5625,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 220.4965057373047,
                                   :y1 306.76251220703125,
                                   :x2 513.0731201171875,
                                   :y2 323.5625,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Stadt kann es beliebig viele Vereine geben"},
               :properties {:color "red"}}
              {:id #uuid "67065b04-5aec-4292-88ac-4a4a00377f90",
               :page 1,
               :position {:bounding {:x1 89.92500305175781,
                                     :y1 306.76251220703125,
                                     :x2 665.9508666992188,
                                     :y2 342.4624938964844,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 559.1747436523438,
                                   :y1 306.76251220703125,
                                   :x2 665.9508666992188,
                                   :y2 323.5625,
                                   :width 756,
                                   :height 1069.1586373714974}
                                  {:x1 89.92500305175781,
                                   :y1 325.6625061035156,
                                   :x2 269.1153869628906,
                                   :y2 342.4624938964844,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Stadt und jedes Land haben einen Namen"},
               :properties {:color "red"}}
              {:id #uuid "67065b18-7f3e-4331-8a09-7de9f8b44efc",
               :page 1,
               :position {:bounding {:x1 306.51251220703125,
                                     :y1 325.6625061035156,
                                     :x2 623.3016357421875,
                                     :y2 342.4624938964844,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 306.51251220703125,
                                   :y1 325.6625061035156,
                                   :x2 623.3016357421875,
                                   :y2 342.4624938964844,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Länder besitzen zudem jeweils einen Verband"},
               :properties {:color "red"}}
              {:id #uuid "67065dae-1b37-422d-8d69-fd7610d25f15",
               :page 1,
               :position {:bounding {:x1 89.92500305175781,
                                     :y1 344.75,
                                     :x2 309.2908630371094,
                                     :y2 361.5500183105469,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 89.92500305175781,
                                   :y1 344.75,
                                   :x2 309.2908630371094,
                                   :y2 361.5500183105469,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Stadt liegt in genau einem Land"},
               :properties {:color "red"}}
              {:id #uuid "67065db4-2d55-4780-a832-ad5b1970c8f8",
               :page 1,
               :position {:bounding {:x1 382.0843200683594,
                                     :y1 344.75,
                                     :x2 661.9188842773438,
                                     :y2 361.5500183105469,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 382.0843200683594,
                                   :y1 344.75,
                                   :x2 661.9188842773438,
                                   :y2 361.5500183105469,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Land können beliebig viele Städte liegen"},
               :properties {:color "red"}}
              {:id #uuid "67065f03-2b5c-436b-b556-b446cc8ed507",
               :page 1,
               :position {:bounding {:x1 317.0382995605469,
                                     :y1 401.4375,
                                     :x2 661.7684936523438,
                                     :y2 418.2375183105469,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 317.0382995605469,
                                   :y1 401.4375,
                                   :x2 661.7684936523438,
                                   :y2 418.2375183105469,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Spiel besitzt genau ein Heim und einen Gastverein"},
               :properties {:color "red"}}
              {:id #uuid "67065fac-2877-4ccc-aad7-e6096871a10f",
               :page 1,
               :position {:bounding {:x1 116.5999984741211,
                                     :y1 420.3374938964844,
                                     :x2 570.8196411132812,
                                     :y2 437.13751220703125,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 116.5999984741211,
                                   :y1 420.3374938964844,
                                   :x2 570.8196411132812,
                                   :y2 437.13751220703125,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Datum, an dem es stattfand, einen Wettbewerb und ein Ergebnis"},
               :properties {:color "red"}}
              {:id #uuid "67066017-4b61-44fd-a57e-ec76e9ce5ee7",
               :page 1,
               :position {:bounding {:x1 89.92500305175781,
                                     :y1 458.1250190734863,
                                     :x2 665.849609375,
                                     :y2 493.82500076293945,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 322.2825622558594,
                                   :y1 458.1250190734863,
                                   :x2 665.849609375,
                                   :y2 474.9250068664551,
                                   :width 756,
                                   :height 1069.1586373714974}
                                  {:x1 89.92500305175781,
                                   :y1 477.0250129699707,
                                   :x2 526.0367431640625,
                                   :y2 493.82500076293945,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Spieler ist der Name gespeichert, dabei wird angenommen, dass es keine zwei Spieler mit demselben Namen gibt"},
               :properties {:color "red"}}
              {:id #uuid "67066081-e4c6-4a7c-9fbd-cad6aed2e0bf",
               :page 1,
               :position {:bounding {:x1 89.92500305175781,
                                     :y1 477.0250129699707,
                                     :x2 666.1762084960938,
                                     :y2 512.7125129699707,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 533.6832275390625,
                                   :y1 477.0250129699707,
                                   :x2 666.1762084960938,
                                   :y2 493.82500076293945,
                                   :width 756,
                                   :height 1069.1586373714974}
                                  {:x1 89.92500305175781,
                                   :y1 495.9124946594238,
                                   :x2 300.9253845214844,
                                   :y2 512.7125129699707,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "Außerdem soll sein Geburtsdatum, sein Geburtsort"},
               :properties {:color "red"}}
              {:id #uuid "67066252-2856-4f92-90d0-8d0a06b6dfdd",
               :page 1,
               :position {:bounding {:x1 462.6664123535156,
                                     :y1 495.9124946594238,
                                     :x2 506.6791076660156,
                                     :y2 512.7125129699707,
                                     :width 756,
                                     :height 1069.1586373714974},
                          :rects ({:x1 462.6664123535156,
                                   :y1 495.9124946594238,
                                   :x2 506.6791076660156,
                                   :y2 512.7125129699707,
                                   :width 756,
                                   :height 1069.1586373714974}),
                          :page 1},
               :content {:text "osition"},
               :properties {:color "red"}}],
 :extra {:page 3}}
