{:highlights [{:id #uuid "6704e6e1-f439-4230-9bbd-21ca9de17a49",
               :page 6,
               :position {:bounding {:x1 72,
                                     :y1 144,
                                     :x2 290,
                                     :y2 478,
                                     :width 1024,
                                     :height 576},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1728374495661},
               :properties {:color "red"}}
              {:id #uuid "6704ebae-9b52-4193-bc95-1d665eb93023",
               :page 15,
               :position {:bounding {:x1 22,
                                     :y1 81,
                                     :x2 284,
                                     :y2 374,
                                     :width 733.0000000000001,
                                     :height 412.31250000000006},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1728375724990},
               :properties {:color "red"}}
              {:id #uuid "6704ebdf-1277-4a3b-a64f-a38b44056aca",
               :page 16,
               :position {:bounding {:x1 6,
                                     :y1 63,
                                     :x2 604,
                                     :y2 398,
                                     :width 733.0000000000001,
                                     :height 412.31250000000006},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1728375774658},
               :properties {:color "red"}}
              {:id #uuid "6704ec5b-d572-4947-b6c2-7e3f544c15dc",
               :page 19,
               :position {:bounding {:x1 20,
                                     :y1 20.7998046875,
                                     :x2 658,
                                     :y2 350.7998046875,
                                     :width 733.0000000000001,
                                     :height 412.31250000000006},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1728375897612},
               :properties {:color "red"}}
              {:id #uuid "6704ee41-bdc3-4e4e-b5b5-9af126fc3d12",
               :page 26,
               :position {:bounding {:x1 19,
                                     :y1 20.599609375,
                                     :x2 736,
                                     :y2 353.599609375,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1728376383749},
               :properties {:color "red"}}
              {:id #uuid "6704ee9c-4f39-45db-8f49-1059d6c05b1f",
               :page 29,
               :position {:bounding {:x1 19,
                                     :y1 67.400390625,
                                     :x2 544,
                                     :y2 391.400390625,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1728376475066},
               :properties {:color "red"}}
              {:id #uuid "6704eeaa-5fab-429a-8663-2a2659dec61b",
               :page 30,
               :position {:bounding {:x1 16,
                                     :y1 71.599609375,
                                     :x2 668,
                                     :y2 366.599609375,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1728376488681},
               :properties {:color "red"}}
              {:id #uuid "670ce826-3c55-46af-a603-9ec7385526c6",
               :page 54,
               :position {:bounding {:x1 0,
                                     :y1 50,
                                     :x2 620,
                                     :y2 283,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1728899109365},
               :properties {:color "red"}}
              {:id #uuid "670ce833-ffc3-44f7-bd1a-6b8abd7a5be8",
               :page 55,
               :position {:bounding {:x1 32,
                                     :y1 100.599609375,
                                     :x2 461,
                                     :y2 268.599609375,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1728899121410},
               :properties {:color "red"}}
              {:id #uuid "670ce88a-5620-4186-af23-cef6bf828efb",
               :page 57,
               :position {:bounding {:x1 0,
                                     :y1 59.400390625,
                                     :x2 623,
                                     :y2 326.400390625,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1728899209166},
               :properties {:color "red"}}
              {:id #uuid "670ce89a-585a-4bf4-912f-49335a98d36a",
               :page 58,
               :position {:bounding {:x1 17,
                                     :y1 66,
                                     :x2 584,
                                     :y2 320,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 58},
               :content {:text "[:span]", :image 1728899225280},
               :properties {:color "red"}}
              {:id #uuid "670cea50-abed-4222-84c7-e8b3f3c3e5a8",
               :page 62,
               :position {:bounding {:x1 38,
                                     :y1 101,
                                     :x2 703,
                                     :y2 266,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1728899663672},
               :properties {:color "red"}}
              {:id #uuid "670ceb03-3604-437a-b1fe-2517616e17ca",
               :page 63,
               :position {:bounding {:x1 107,
                                     :y1 92,
                                     :x2 614,
                                     :y2 346,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1728899842155},
               :properties {:color "red"}}
              {:id #uuid "670ceb11-3d79-4111-ab7d-2ebcb1422517",
               :page 64,
               :position {:bounding {:x1 34,
                                     :y1 114.400390625,
                                     :x2 587,
                                     :y2 328.400390625,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1728899855333},
               :properties {:color "red"}}
              {:id #uuid "670ceb61-789f-4ec2-a88f-5dff33eb7358",
               :page 65,
               :position {:bounding {:x1 33,
                                     :y1 112,
                                     :x2 680,
                                     :y2 211,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 65},
               :content {:text "[:span]", :image 1728899936287},
               :properties {:color "red"}}
              {:id #uuid "670ceb86-6184-4af9-8d49-cd18a2757c7c",
               :page 65,
               :position {:bounding {:x1 36,
                                     :y1 243,
                                     :x2 701,
                                     :y2 367,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 65},
               :content {:text "[:span]", :image 1728899973355},
               :properties {:color "red"}}
              {:id #uuid "670cebd9-8304-4f9e-a279-a34a113f5256",
               :page 66,
               :position {:bounding {:x1 20,
                                     :y1 19.19921875,
                                     :x2 717,
                                     :y2 370.19921875,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 66},
               :content {:text "[:span]", :image 1728900056329},
               :properties {:color "red"}}],
 :extra {:page 64}}
