{:highlights [{:id #uuid "6704e6e1-f439-4230-9bbd-21ca9de17a49",
               :page 6,
               :position {:bounding {:x1 72,
                                     :y1 144,
                                     :x2 290,
                                     :y2 478,
                                     :width 1024,
                                     :height 576},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1728374495661},
               :properties {:color "red"}}
              {:id #uuid "6704ebae-9b52-4193-bc95-1d665eb93023",
               :page 15,
               :position {:bounding {:x1 22,
                                     :y1 81,
                                     :x2 284,
                                     :y2 374,
                                     :width 733.0000000000001,
                                     :height 412.31250000000006},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1728375724990},
               :properties {:color "red"}}
              {:id #uuid "6704ebdf-1277-4a3b-a64f-a38b44056aca",
               :page 16,
               :position {:bounding {:x1 6,
                                     :y1 63,
                                     :x2 604,
                                     :y2 398,
                                     :width 733.0000000000001,
                                     :height 412.31250000000006},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1728375774658},
               :properties {:color "red"}}
              {:id #uuid "6704ec5b-d572-4947-b6c2-7e3f544c15dc",
               :page 19,
               :position {:bounding {:x1 20,
                                     :y1 20.7998046875,
                                     :x2 658,
                                     :y2 350.7998046875,
                                     :width 733.0000000000001,
                                     :height 412.31250000000006},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1728375897612},
               :properties {:color "red"}}
              {:id #uuid "6704ee41-bdc3-4e4e-b5b5-9af126fc3d12",
               :page 26,
               :position {:bounding {:x1 19,
                                     :y1 20.599609375,
                                     :x2 736,
                                     :y2 353.599609375,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1728376383749},
               :properties {:color "red"}}
              {:id #uuid "6704ee9c-4f39-45db-8f49-1059d6c05b1f",
               :page 29,
               :position {:bounding {:x1 19,
                                     :y1 67.400390625,
                                     :x2 544,
                                     :y2 391.400390625,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1728376475066},
               :properties {:color "red"}}
              {:id #uuid "6704eeaa-5fab-429a-8663-2a2659dec61b",
               :page 30,
               :position {:bounding {:x1 16,
                                     :y1 71.599609375,
                                     :x2 668,
                                     :y2 366.599609375,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1728376488681},
               :properties {:color "red"}}],
 :extra {:page 43}}
