{:highlights [{:id #uuid "670cf266-1a78-4d99-8eff-61d14873dfea",
               :page 8,
               :position {:bounding {:x1 34,
                                     :y1 109.39990234375,
                                     :x2 684,
                                     :y2 310.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1728901733275},
               :properties {:color "red"}}
              {:id #uuid "670cf29b-f829-4100-802c-151393c64b5a",
               :page 11,
               :position {:bounding {:x1 18,
                                     :y1 75.199951171875,
                                     :x2 671,
                                     :y2 178.199951171875,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1728901786049},
               :properties {:color "red"}}
              {:id #uuid "670cf453-1999-4b0f-ba50-7c409f4d9c47",
               :page 14,
               :position {:bounding {:x1 101,
                                     :y1 248.7998046875,
                                     :x2 635,
                                     :y2 347.7998046875,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1728902226085},
               :properties {:color "red"}}
              {:id #uuid "670cf461-356f-4456-b59c-7ffca0f65c90",
               :page 16,
               :position {:bounding {:x1 100,
                                     :y1 249,
                                     :x2 629,
                                     :y2 401,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1728902240306},
               :properties {:color "red"}}
              {:id #uuid "670cf472-24a0-4a8e-9d04-683f7b2eb844",
               :page 16,
               :position {:bounding {:x1 19,
                                     :y1 76,
                                     :x2 668,
                                     :y2 181,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1728902257423},
               :properties {:color "red"}}
              {:id #uuid "670cf4f2-f9d2-44f2-a24f-0896a39cb084",
               :page 17,
               :position {:bounding {:x1 20,
                                     :y1 76.2001953125,
                                     :x2 668,
                                     :y2 177.2001953125,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1728902385163},
               :properties {:color "red"}}
              {:id #uuid "670cf522-902d-4b3e-b513-2df09f970ffb",
               :page 18,
               :position {:bounding {:x1 21,
                                     :y1 74.39990234375,
                                     :x2 668,
                                     :y2 322.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1728902433046},
               :properties {:color "red"}}
              {:id #uuid "670cf52f-10c3-450b-abdd-9f9c1b5eef61",
               :page 19,
               :position {:bounding {:x1 21,
                                     :y1 75.39990234375,
                                     :x2 667,
                                     :y2 321.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1728902446067},
               :properties {:color "red"}}
              {:id #uuid "670cf57c-be59-4774-9c9b-618ef8f1f651",
               :page 20,
               :position {:bounding {:x1 20,
                                     :y1 76.39990234375,
                                     :x2 670,
                                     :y2 408.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1728902523027},
               :properties {:color "red"}}
              {:id #uuid "670cf71a-e0ed-418a-b034-ee81883cdbf3",
               :page 22,
               :position {:bounding {:x1 18,
                                     :y1 74.400390625,
                                     :x2 726,
                                     :y2 355.400390625,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1728902936721},
               :properties {:color "red"}}
              {:id #uuid "670cf743-eafc-4f1d-9614-89b8167973a7",
               :page 23,
               :position {:bounding {:x1 20,
                                     :y1 75.7998046875,
                                     :x2 671,
                                     :y2 390.7998046875,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1728902977987},
               :properties {:color "red"}}
              {:id #uuid "670cf8d5-c5bb-4aa9-a0ff-55bbd9854055",
               :page 27,
               :position {:bounding {:x1 20,
                                     :y1 76.400390625,
                                     :x2 668,
                                     :y2 327.400390625,
                                     :width 746,
                                     :height 419.625},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1728903380139},
               :properties {:color "red"}}
              {:id #uuid "670e2069-423c-4be8-8084-0b47c8596e19",
               :page 28,
               :position {:bounding {:x1 18,
                                     :y1 72.400390625,
                                     :x2 641,
                                     :y2 272.400390625,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1728979047743},
               :properties {:color "red"}}
              {:id #uuid "670e20b2-7c0e-42e7-8e83-c61b74f61e54",
               :page 29,
               :position {:bounding {:x1 20,
                                     :y1 72.400390625,
                                     :x2 633,
                                     :y2 367.400390625,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1728979121651},
               :properties {:color "red"}}
              {:id #uuid "670e20d7-811d-4417-8e3b-7a0eede7f563",
               :page 30,
               :position {:bounding {:x1 20,
                                     :y1 72.7998046875,
                                     :x2 639,
                                     :y2 256.7998046875,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1728979158269},
               :properties {:color "red"}}
              {:id #uuid "670e20f4-59a0-46a8-87f5-2e5fbb1e23ff",
               :page 31,
               :position {:bounding {:x1 20,
                                     :y1 74.7998046875,
                                     :x2 639,
                                     :y2 338.7998046875,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1728979187055},
               :properties {:color "red"}}
              {:id #uuid "670e22bd-9ee7-49b2-88a7-7d47d00a9852",
               :page 34,
               :position {:bounding {:x1 19,
                                     :y1 72.2001953125,
                                     :x2 638,
                                     :y2 318.2001953125,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1728979644233},
               :properties {:color "red"}}
              {:id #uuid "670e22ff-1c31-4389-9094-330a2dad52be",
               :page 35,
               :position {:bounding {:x1 19,
                                     :y1 72.7998046875,
                                     :x2 640,
                                     :y2 347.7998046875,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1728979708780},
               :properties {:color "red"}}
              {:id #uuid "670e2325-85d4-4825-9ce9-9d230d26063a",
               :page 36,
               :position {:bounding {:x1 19,
                                     :y1 73.400390625,
                                     :x2 641,
                                     :y2 287.400390625,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1728979748482},
               :properties {:color "red"}}
              {:id #uuid "670e2378-20a6-40aa-8f83-b2e2cc2cc7f1",
               :page 38,
               :position {:bounding {:x1 20,
                                     :y1 75.2001953125,
                                     :x2 640,
                                     :y2 329.2001953125,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1728979831637},
               :properties {:color "red"}}
              {:id #uuid "670e23d2-ea22-4dbd-950f-16138a580b74",
               :page 39,
               :position {:bounding {:x1 19,
                                     :y1 74.2001953125,
                                     :x2 666,
                                     :y2 367.2001953125,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1728979920040},
               :properties {:color "red"}}
              {:id #uuid "670e2f07-3c16-4091-bc02-3ff33a9b0d7c",
               :page 41,
               :position {:bounding {:x1 20,
                                     :y1 70.599609375,
                                     :x2 640,
                                     :y2 367.599609375,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1728982790386},
               :properties {:color "red"}}
              {:id #uuid "670e2f2a-eda7-4111-bf23-59c7b2f55661",
               :page 42,
               :position {:bounding {:x1 19,
                                     :y1 72.400390625,
                                     :x2 709,
                                     :y2 387.400390625,
                                     :width 713,
                                     :height 401.0625},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1728982825172},
               :properties {:color "red"}}
              {:id #uuid "670e2f60-fb27-4d8b-8167-afae6d422edb",
               :page 43,
               :position {:bounding {:x1 24,
                                     :y1 84,
                                     :x2 712,
                                     :y2 317,
                                     :width 795,
                                     :height 447.1875},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1728982879302},
               :properties {:color "red"}}
              {:id #uuid "670e2f79-2bcc-4eed-bbcc-f1ce5ae6d25e",
               :page 44,
               :position {:bounding {:x1 36,
                                     :y1 200.599609375,
                                     :x2 498,
                                     :y2 335.599609375,
                                     :width 749,
                                     :height 421.31250000000006},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1728982903604},
               :properties {:color "red"}}
              {:id #uuid "670e33ac-807a-45ef-8f28-6a90909f24a6",
               :page 48,
               :position {:bounding {:x1 37,
                                     :y1 115.19921875,
                                     :x2 712,
                                     :y2 280.19921875,
                                     :width 749,
                                     :height 421.31250000000006},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1728983978784},
               :properties {:color "red"}}
              {:id #uuid "670e33cd-6019-49c3-aa9f-50beb9f0db41",
               :page 49,
               :position {:bounding {:x1 21,
                                     :y1 75.400390625,
                                     :x2 671,
                                     :y2 206.400390625,
                                     :width 749,
                                     :height 421.31250000000006},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1728984012679},
               :properties {:color "red"}}
              {:id #uuid "670e342c-fd09-438c-83a0-238440713a1b",
               :page 55,
               :position {:bounding {:x1 22,
                                     :y1 78.599609375,
                                     :x2 672,
                                     :y2 365.599609375,
                                     :width 749,
                                     :height 421.31250000000006},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1728984106112},
               :properties {:color "red"}}
              {:id #uuid "670e346c-016b-4675-a9b0-0aea9be104ff",
               :page 58,
               :position {:bounding {:x1 20,
                                     :y1 77.400390625,
                                     :x2 739,
                                     :y2 411.400390625,
                                     :width 749,
                                     :height 421.31250000000006},
                          :rects (),
                          :page 58},
               :content {:text "[:span]", :image 1728984170819},
               :properties {:color "red"}}],
 :extra {:page 61}}
