{:highlights [{:id #uuid "670cf266-1a78-4d99-8eff-61d14873dfea",
               :page 8,
               :position {:bounding {:x1 34,
                                     :y1 109.39990234375,
                                     :x2 684,
                                     :y2 310.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1728901733275},
               :properties {:color "red"}}
              {:id #uuid "670cf29b-f829-4100-802c-151393c64b5a",
               :page 11,
               :position {:bounding {:x1 18,
                                     :y1 75.199951171875,
                                     :x2 671,
                                     :y2 178.199951171875,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1728901786049},
               :properties {:color "red"}}
              {:id #uuid "670cf453-1999-4b0f-ba50-7c409f4d9c47",
               :page 14,
               :position {:bounding {:x1 101,
                                     :y1 248.7998046875,
                                     :x2 635,
                                     :y2 347.7998046875,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1728902226085},
               :properties {:color "red"}}
              {:id #uuid "670cf461-356f-4456-b59c-7ffca0f65c90",
               :page 16,
               :position {:bounding {:x1 100,
                                     :y1 249,
                                     :x2 629,
                                     :y2 401,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1728902240306},
               :properties {:color "red"}}
              {:id #uuid "670cf472-24a0-4a8e-9d04-683f7b2eb844",
               :page 16,
               :position {:bounding {:x1 19,
                                     :y1 76,
                                     :x2 668,
                                     :y2 181,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1728902257423},
               :properties {:color "red"}}
              {:id #uuid "670cf4f2-f9d2-44f2-a24f-0896a39cb084",
               :page 17,
               :position {:bounding {:x1 20,
                                     :y1 76.2001953125,
                                     :x2 668,
                                     :y2 177.2001953125,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1728902385163},
               :properties {:color "red"}}
              {:id #uuid "670cf522-902d-4b3e-b513-2df09f970ffb",
               :page 18,
               :position {:bounding {:x1 21,
                                     :y1 74.39990234375,
                                     :x2 668,
                                     :y2 322.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1728902433046},
               :properties {:color "red"}}
              {:id #uuid "670cf52f-10c3-450b-abdd-9f9c1b5eef61",
               :page 19,
               :position {:bounding {:x1 21,
                                     :y1 75.39990234375,
                                     :x2 667,
                                     :y2 321.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1728902446067},
               :properties {:color "red"}}
              {:id #uuid "670cf57c-be59-4774-9c9b-618ef8f1f651",
               :page 20,
               :position {:bounding {:x1 20,
                                     :y1 76.39990234375,
                                     :x2 670,
                                     :y2 408.39990234375,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1728902523027},
               :properties {:color "red"}}
              {:id #uuid "670cf71a-e0ed-418a-b034-ee81883cdbf3",
               :page 22,
               :position {:bounding {:x1 18,
                                     :y1 74.400390625,
                                     :x2 726,
                                     :y2 355.400390625,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1728902936721},
               :properties {:color "red"}}
              {:id #uuid "670cf743-eafc-4f1d-9614-89b8167973a7",
               :page 23,
               :position {:bounding {:x1 20,
                                     :y1 75.7998046875,
                                     :x2 671,
                                     :y2 390.7998046875,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1728902977987},
               :properties {:color "red"}}
              {:id #uuid "670cf8d5-c5bb-4aa9-a0ff-55bbd9854055",
               :page 27,
               :position {:bounding {:x1 20,
                                     :y1 76.400390625,
                                     :x2 668,
                                     :y2 327.400390625,
                                     :width 746,
                                     :height 419.625},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1728903380139},
               :properties {:color "red"}}],
 :extra {:page 27}}
