{:highlights [{:id #uuid "671761e0-0b82-4b9b-9853-bd20e0341b22",
               :page 24,
               :position {:bounding {:x1 32,
                                     :y1 108.2001953125,
                                     :x2 674,
                                     :y2 363.2001953125,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1729585631362},
               :properties {:color "red"}}
              {:id #uuid "671761f6-d191-4005-95e2-080d1ce39ca5",
               :page 25,
               :position {:bounding {:x1 34,
                                     :y1 102.2001953125,
                                     :x2 674,
                                     :y2 287.2001953125,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1729585652879},
               :properties {:color "red"}}
              {:id #uuid "67176207-f198-414f-8cb0-60132dfb60dc",
               :page 26,
               :position {:bounding {:x1 35,
                                     :y1 109.2001953125,
                                     :x2 672,
                                     :y2 289.2001953125,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1729585670240},
               :properties {:color "red"}}
              {:id #uuid "6717621c-6e63-4463-b89e-9c539078f541",
               :page 27,
               :position {:bounding {:x1 33,
                                     :y1 98.2001953125,
                                     :x2 668,
                                     :y2 307.2001953125,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1729585690878},
               :properties {:color "red"}}
              {:id #uuid "67176229-1c3d-40fd-b415-2f0235a9022b",
               :page 28,
               :position {:bounding {:x1 32,
                                     :y1 106.2001953125,
                                     :x2 676,
                                     :y2 246.2001953125,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1729585704221},
               :properties {:color "red"}}
              {:id #uuid "6717625c-aab7-4f7a-8905-0ca9a527a619",
               :page 29,
               :position {:bounding {:x1 20,
                                     :y1 23.7998046875,
                                     :x2 424,
                                     :y2 346.7998046875,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1729585754956},
               :properties {:color "red"}}
              {:id #uuid "671762a6-5439-48b3-9a61-7e8b573f059b",
               :page 59,
               :position {:bounding {:x1 60,
                                     :y1 189.599609375,
                                     :x2 597,
                                     :y2 364.599609375,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 59},
               :content {:text "[:span]", :image 1729585827743},
               :properties {:color "red"}}
              {:id #uuid "671762bc-96e3-4376-9a64-0e12a8d03609",
               :page 60,
               :position {:bounding {:x1 72,
                                     :y1 103.599609375,
                                     :x2 565,
                                     :y2 160.599609375,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 60},
               :content {:text "[:span]", :image 1729585850545},
               :properties {:color "red"}}
              {:id #uuid "671764ad-eb3c-4a11-8b24-db546bf9f68a",
               :page 63,
               :position {:bounding {:x1 37,
                                     :y1 264.599609375,
                                     :x2 635,
                                     :y2 371.599609375,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1729586348423},
               :properties {:color "red"}}
              {:id #uuid "671764cb-178c-4b03-8da2-c1b8678e2337",
               :page 63,
               :position {:bounding {:x1 36,
                                     :y1 160.599609375,
                                     :x2 429,
                                     :y2 193.599609375,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1729586378186},
               :properties {:color "red"}}
              {:id #uuid "671764ed-9295-43c5-96e5-0009976c0b71",
               :page 67,
               :position {:bounding {:x1 19,
                                     :y1 17.19921875,
                                     :x2 692,
                                     :y2 262.19921875,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 67},
               :content {:text "[:span]", :image 1729586411853},
               :properties {:color "red"}}
              {:id #uuid "671765f3-07bd-4b10-8db2-1a47db7b0388",
               :page 69,
               :position {:bounding {:x1 310,
                                     :y1 169.80078125,
                                     :x2 695,
                                     :y2 250.80078125,
                                     :width 709.9999999999999,
                                     :height 399.37499999999994},
                          :rects (),
                          :page 69},
               :content {:text "[:span]", :image 1729586673877},
               :properties {:color "red"}}],
 :extra {:page 59}}
