{:highlights [{:id #uuid "67176ead-1832-4855-b689-48006105c1a3",
               :page 20,
               :position {:bounding {:x1 20,
                                     :y1 24.2001953125,
                                     :x2 700,
                                     :y2 192.2001953125,
                                     :width 743,
                                     :height 417.9375},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1729588908397},
               :properties {:color "red"}}],
 :extra {:page 21}}
