{:highlights [{:id #uuid "671f6bbe-ee55-4edd-a461-88cc2a877c04",
               :page 10,
               :position {:bounding {:x1 20,
                                     :y1 73.199951171875,
                                     :x2 659,
                                     :y2 224.199951171875,
                                     :width 697,
                                     :height 392.0625},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1730112444566},
               :properties {:color "red"}}
              {:id #uuid "671f6bd3-987c-4ce6-93bb-be660ae0fdc9",
               :page 15,
               :position {:bounding {:x1 20,
                                     :y1 22.2001953125,
                                     :x2 657,
                                     :y2 242.2001953125,
                                     :width 697,
                                     :height 392.0625},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1730112465755},
               :properties {:color "red"}}
              {:id #uuid "671f6be2-7108-4d5e-bbfd-971ddd9355a2",
               :page 17,
               :position {:bounding {:x1 16,
                                     :y1 21.39990234375,
                                     :x2 660,
                                     :y2 227.39990234375,
                                     :width 697,
                                     :height 392.0625},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1730112480760},
               :properties {:color "red"}}
              {:id #uuid "671f6bef-c918-4d5b-94ae-f26c36c54fc2",
               :page 18,
               :position {:bounding {:x1 16,
                                     :y1 27.7998046875,
                                     :x2 668,
                                     :y2 208.7998046875,
                                     :width 697,
                                     :height 392.0625},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1730112494525},
               :properties {:color "red"}}
              {:id #uuid "671f6c7e-2e7f-477e-b8f1-8c6e43abd45f",
               :page 20,
               :position {:bounding {:x1 32,
                                     :y1 66,
                                     :x2 677,
                                     :y2 343,
                                     :width 697,
                                     :height 392.0625},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1730112636763},
               :properties {:color "red"}}
              {:id #uuid "671f6ca7-5136-4b3f-8875-a3b3f424b244",
               :page 23,
               :position {:bounding {:x1 31,
                                     :y1 63,
                                     :x2 653,
                                     :y2 241,
                                     :width 697,
                                     :height 392.0625},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1730112677709},
               :properties {:color "red"}}
              {:id #uuid "671f6cb5-5c97-447c-8116-873dabbb4b6d",
               :page 24,
               :position {:bounding {:x1 32,
                                     :y1 65,
                                     :x2 656,
                                     :y2 349,
                                     :width 697,
                                     :height 392.0625},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1730112691728},
               :properties {:color "red"}}],
 :extra {:page 9}}
