{:highlights [{:id #uuid "671f7663-0cb7-4fcc-9de7-ce34dcc44fa1",
               :page 29,
               :position {:bounding {:x1 36,
                                     :y1 74.400390625,
                                     :x2 800,
                                     :y2 276.400390625,
                                     :width 855,
                                     :height 480.9375},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1730115169042},
               :properties {:color "red"}}
              {:id #uuid "671f7674-0ca1-431e-98af-4f62b2c84934",
               :page 31,
               :position {:bounding {:x1 48,
                                     :y1 51.7998046875,
                                     :x2 832,
                                     :y2 399.7998046875,
                                     :width 855,
                                     :height 480.9375},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1730115186769},
               :properties {:color "red"}}],
 :extra {:page 31}}
