{:highlights [{:id #uuid "6703dbb5-cb88-4f57-99ed-a1ac2a211c0e",
               :page 9,
               :position {:bounding {:x1 376,
                                     :y1 71.800048828125,
                                     :x2 635,
                                     :y2 332.800048828125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1728306098877},
               :properties {:color "red"}}
              {:id #uuid "6703de6f-be4e-454a-9b53-caba595f725e",
               :page 11,
               :position {:bounding {:x1 329,
                                     :y1 64.800048828125,
                                     :x2 635,
                                     :y2 345.800048828125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1728306797549},
               :properties {:color "red"}}
              {:id #uuid "6703def7-a675-4870-8708-1c11ad6b368e",
               :page 13,
               :position {:bounding {:x1 275,
                                     :y1 193.7998046875,
                                     :x2 580,
                                     :y2 287.7998046875,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1728306933866},
               :properties {:color "red"}}
              {:id #uuid "6703e073-98f9-4600-b4ce-de593a14d03a",
               :page 14,
               :position {:bounding {:x1 118,
                                     :y1 94.2001953125,
                                     :x2 518,
                                     :y2 313.2001953125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1728307313810},
               :properties {:color "red"}}
              {:id #uuid "67051fbc-305e-44cd-9119-6a63d2707497",
               :page 20,
               :position {:bounding {:x1 96,
                                     :y1 61.60009765625,
                                     :x2 524,
                                     :y2 333.60009765625,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1728389051071},
               :properties {:color "red"}}
              {:id #uuid "67052121-c0a5-4e59-858e-1b771d295165",
               :page 21,
               :position {:bounding {:x1 20,
                                     :y1 76.7998046875,
                                     :x2 623,
                                     :y2 247.7998046875,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1728389408454},
               :properties {:color "red"}}
              {:id #uuid "6705219b-1239-45de-bda7-70427fdcc9ea",
               :page 22,
               :position {:bounding {:x1 70,
                                     :y1 67.400390625,
                                     :x2 552,
                                     :y2 258.400390625,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1728389529212},
               :properties {:color "red"}}
              {:id #uuid "670522b1-1a68-489a-979c-203141d66a70",
               :page 23,
               :position {:bounding {:x1 38,
                                     :y1 73.7998046875,
                                     :x2 695,
                                     :y2 387.7998046875,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1728389808233},
               :properties {:color "red"}}
              {:id #uuid "670527c3-6f52-40cb-8a66-6e0a0c100483",
               :page 27,
               :position {:bounding {:x1 422,
                                     :y1 117.599609375,
                                     :x2 736,
                                     :y2 297.599609375,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1728391105802},
               :properties {:color "red"}}
              {:id #uuid "670527cf-4a78-407e-bcf1-bfbfe66a8863",
               :page 27,
               :position {:bounding {:x1 132,
                                     :y1 308.599609375,
                                     :x2 534,
                                     :y2 395.599609375,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1728391118447},
               :properties {:color "red"}}
              {:id #uuid "67052cfe-9e01-4099-b9de-2a40a71754bc",
               :page 33,
               :position {:bounding {:x1 434,
                                     :y1 81.7998046875,
                                     :x2 729,
                                     :y2 406.7998046875,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1728392445218},
               :properties {:color "red"}}
              {:id #uuid "67052e0b-4aca-4caf-866a-9161066ebc76",
               :page 34,
               :position {:bounding {:x1 17,
                                     :y1 82.599609375,
                                     :x2 723,
                                     :y2 402.599609375,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1728392713812},
               :properties {:color "red"}}
              {:id #uuid "67053227-14a3-403c-b89d-bd0614f4a6c2",
               :page 41,
               :position {:bounding {:x1 380.80000001192093,
                                     :y1 94.400390625,
                                     :x2 715.8000000119209,
                                     :y2 231.400390625,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1728393763773},
               :properties {:color "red"}}
              {:id #uuid "67053297-c1d9-449e-8568-ba8f75dc65c3",
               :page 41,
               :position {:bounding {:x1 376.80000001192093,
                                     :y1 256.400390625,
                                     :x2 716.8000000119209,
                                     :y2 368.400390625,
                                     :width 742,
                                     :height 417.375},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1728393877603},
               :properties {:color "red"}}],
 :extra {:page 43}}
