{:highlights [{:id #uuid "6703dbb5-cb88-4f57-99ed-a1ac2a211c0e",
               :page 9,
               :position {:bounding {:x1 376,
                                     :y1 71.800048828125,
                                     :x2 635,
                                     :y2 332.800048828125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1728306098877},
               :properties {:color "red"}}
              {:id #uuid "6703de6f-be4e-454a-9b53-caba595f725e",
               :page 11,
               :position {:bounding {:x1 329,
                                     :y1 64.800048828125,
                                     :x2 635,
                                     :y2 345.800048828125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1728306797549},
               :properties {:color "red"}}
              {:id #uuid "6703def7-a675-4870-8708-1c11ad6b368e",
               :page 13,
               :position {:bounding {:x1 275,
                                     :y1 193.7998046875,
                                     :x2 580,
                                     :y2 287.7998046875,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1728306933866},
               :properties {:color "red"}}
              {:id #uuid "6703e073-98f9-4600-b4ce-de593a14d03a",
               :page 14,
               :position {:bounding {:x1 118,
                                     :y1 94.2001953125,
                                     :x2 518,
                                     :y2 313.2001953125,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1728307313810},
               :properties {:color "red"}}],
 :extra {:page 4}}
