{:highlights [{:id #uuid "6703ca13-df14-40d8-9115-b2e95b3bbaae",
               :page 3,
               :position {:bounding {:x1 82.80000001192093,
                                     :y1 90.199951171875,
                                     :x2 555.8000000119209,
                                     :y2 183.199951171875,
                                     :width 640,
                                     :height 908.1077782650977},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1728301585713},
               :properties {:color "red"}}
              {:id #uuid "6703ca76-1062-419b-9e92-13046132ecb5",
               :page 3,
               :position {:bounding {:x1 84,
                                     :y1 186.800048828125,
                                     :x2 556,
                                     :y2 279.800048828125,
                                     :width 640,
                                     :height 908.1077782650977},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1728301685385},
               :properties {:color "red"}}
              {:id #uuid "6703caa8-3207-4bfe-af5d-f0a836e738f7",
               :page 3,
               :position {:bounding {:x1 84,
                                     :y1 281.800048828125,
                                     :x2 556,
                                     :y2 378.800048828125,
                                     :width 640,
                                     :height 908.1077782650977},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1728301734622},
               :properties {:color "red"}}
              {:id #uuid "6703cba5-319d-47b2-bdd3-4ad38a1ca985",
               :page 4,
               :position {:bounding {:x1 68,
                                     :y1 78,
                                     :x2 577,
                                     :y2 272,
                                     :width 640,
                                     :height 908.1077782650977},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1728301987257},
               :properties {:color "red"}}],
 :extra {:page 13}}
