{:highlights [{:id #uuid "66fc013c-4eaa-465b-8923-b01777956aa2",
               :page 5,
               :position {:bounding {:x1 52,
                                     :y1 555.39990234375,
                                     :x2 624,
                                     :y2 811.39990234375,
                                     :width 672.0000000000001,
                                     :height 950.6132186418467},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1727791419375},
               :properties {:color "green"}}
              {:id #uuid "66fc1f1d-92bd-4afd-a3e0-ce8981ae6ea7",
               :page 10,
               :position {:bounding {:x1 48,
                                     :y1 515.7998046875,
                                     :x2 592,
                                     :y2 702.7998046875,
                                     :width 640,
                                     :height 905.3459225160444},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1727799068174},
               :properties {:color "green"}}
              {:id #uuid "6704cfd1-e348-420c-a952-212120807f60",
               :page 13,
               :position {:bounding {:x1 52,
                                     :y1 522.7998046875,
                                     :x2 596,
                                     :y2 763.7998046875,
                                     :width 640,
                                     :height 905.3459225160444},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1728368591824},
               :properties {:color "red"}}
              {:id #uuid "6705432f-8f5c-4ebe-9b85-0eeff90ecea6",
               :page 21,
               :position {:bounding {:x1 60,
                                     :y1 614,
                                     :x2 687,
                                     :y2 798,
                                     :width 742,
                                     :height 1049.635428917039},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1728398125900},
               :properties {:color "red"}}
              {:id #uuid "670543a0-9c74-4fb3-af79-1d72f2eee267",
               :page 22,
               :position {:bounding {:x1 58,
                                     :y1 100.19921875,
                                     :x2 685,
                                     :y2 465.19921875,
                                     :width 742,
                                     :height 1049.635428917039},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1728398239427},
               :properties {:color "red"}}
              {:id #uuid "67054480-9f11-40d2-b2fd-11799000fc0e",
               :page 22,
               :position {:bounding {:x1 60,
                                     :y1 614.19921875,
                                     :x2 684,
                                     :y2 742.19921875,
                                     :width 742,
                                     :height 1049.635428917039},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1728398462703},
               :properties {:color "red"}}],
 :extra {:page 18}}
